Q. 1 Create one variable containing following type of data:

(i)	string

(ii)	list

(iii)	float

(iv)	tuple

In [5]:
a = ( "Sweety", 45.87, (2, 4, 8), [2,4,8,20] )

In [6]:
b = [ "Sweety", [9, 7,5], 45.87, (2,4,8,20)]

In [7]:
type(a)

tuple

In [8]:
type(b)

list

Q. 2 Given are some following variables containing data:

(i)	var1 = ' '

(ii)	var2 = '[ DS , ML , Python]'

(iii)	var3 = [ 'DS' , 'ML' , 'Python' ]

(iv)	var4 = 1.

In [20]:
var1 = ' '

In [22]:
var2 = '[ DS , ML , Python]'

In [21]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [16]:
var4 = 1.

In [23]:
type(var1)

str

In [24]:
type(var2)

str

In [25]:
type(var3)

list

In [26]:
type(var4)

float

Q. 3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

In [10]:
a = 5
b = 3

In [13]:
a / b     # The division operator '/'is used to perform division between two numbers. It returns the quotient of the division operation.

1.6666666666666667

In [14]:
a % b     # The modulus operator % is used to find the remainder of the division between two numbers.

2

In [15]:
a // b   #  The floor division operator // performs division and rounds down the result to the nearest whole number.

1

In [27]:
a ** b  #  The exponentiation operator ** is used to raise a number to a certain power.

125

Q.4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the 
element and its data type.

In [22]:
my_list = [ "Sweety", "Sahili", 2, 12, 4, 10, [9, 7,5], 45.87, (2,4,8,20), True]

In [23]:
len(my_list)

10

In [24]:
for i in my_list:
    print(i)
    print(type(i))

Sweety
<class 'str'>
Sahili
<class 'str'>
2
<class 'int'>
12
<class 'int'>
4
<class 'int'>
10
<class 'int'>
[9, 7, 5]
<class 'list'>
45.87
<class 'float'>
(2, 4, 8, 20)
<class 'tuple'>
True
<class 'bool'>

Q.5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many 
times it can be divisible.

In [32]:
a = 8
b = 2

count = 0
while a % b == 0:
    
    a = a // b
    count += 1
print(" a is divisible by b ")
print(f'a is divisible by b {count} times')

 a is divisible by b
a is divisible by b 3 times

Q. 6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is 
divisible by 3 or not.

In [36]:
list1 = [3,5,9,12,24,36,6,8,15,18,27,29,38,39,30,42,58,52,68,26,57,26,28,20,75]

In [37]:
len(list1)

25

In [38]:
for i in list1 :
    if i % 3 == 0:
        print(i)

3
9
12
24
36
6
15
18
27
39
30
42
57
75

Q.7. What do you understand about mutable and immutable data types? Give examples for both showing 
this property.

Mutable and immutable are two fundamental concepts in programming that refer to whether the data within a variable can be changed or modified after it is created.

Immutable Data Types: Immutable data types are those whose values cannot be changed once they are created. 
Examples of immutable data types in Python include: Integers, Floats, Strings, Tuples.

Mutable data types are those whose values can be modified after creation. You can change their contents or elements without creating a new object.
Examples of mutable data types in Python include: Lists, Dictionaries, Sets.

In [5]:
#  Examples of Immutable datatypes

s = "sweety"

In [6]:
s[1] = v   # we can't reassign any value in string because its immutable.

NameError: name 'v' is not defined

In [7]:
x = 5
y = x + 2  # This creates a new integer object with the value 7, leaving the original x unchanged.

In [8]:
# Examples of Mutable datatypes

a = [2,3,5,9,"rk",3+4j,68,39.5]

In [9]:
a[4] = "harry"

In [10]:
a

[2, 3, 5, 9, 'harry', (3+4j), 68, 39.5]

In [11]:
my_list = [1, 2, 3]

new_list = my_list

new_list.append(4)

print(my_list)

[1, 2, 3, 4]